{% extends "base.html" %}<!-- IGNORA LA ADVERTENCIA :) --!>
{% block title %} Bienvenido! {% endblock %}
{% block content %}
    <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">
            <div class="page-title"> <i class="icon-custom-left"></i>
                <h2>Bienvenido {{ user.username }}!</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>Este es el sistema de administracion de registros para los servicios que ofrecemos, para empezar porfavor debes seguir al pie
                               de la letra TODAS las recomendaciones que estan a continuacion:<br>
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock %}